@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.ssrText {
  font-family: 'Honk', sans-serif; 
}

.imageContainer {
  position: relative;
  display: inline-block;
  width: 300px; 
  height: 300px; 
}

.image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.ssrText {
  position: absolute;
  top: 3%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 75px; 
  z-index: 1;
}


.Button {
  width: 100px;
  height: 50px;
}

.p {
  height: 30px
}

.imageContainer {
  border: 10px solid black; 
  padding: 20px;
}
